.container-wrapper{
    
  
  .mobile-menu {
    display: none;
  }

  #main {
    margin-left: 219px;
    height: 100%;
    height: 100vh;
  
    .text-color-primary {
      color: $color-primary;
    }
  
    .grid {
      display: grid;
      position: absolute;
      grid-template-columns: 1fr 1fr;
      max-width: 100%;
      min-height: 100vh;
      margin: 0 auto;
      top: 0;
  
      .l-grid-height {
        height: 100vh;
      }
    }
  
    .l-grid-left {
      height: 100vh;
  
      &.bg-color {
        background-color: $color-primary;
        height: 100%;
      }
  
      .greeting {
        font-size: $medium-font-size;
        color: $color-white;
      }
  
      .grid--title {
        font-size: $biggest-font-size;
        margin-bottom: 0;
        color: $color-white;
      }
      .grid-intro {
        line-height: 1.5rem;
        letter-spacing: 1.5px;
        color: $color-white;
      }
  
      // about page styles
      & img {
        border: 1px solid $color-primary;
        border-radius: 200px;
        width: 60%;
        background: $color-primary;
      }
    }
  
    .abt-image-grid {
      display: grid;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .l-grid-right {
      .profile-image {
        height: 100%;
        width: 100%;
        // object-fit: contain;
        // background-image: url(../../images/author.png);
        // background-position: center;
        // background-repeat: no-repeat;
        background-size: contain;
      }
    }
  
    // Projects
  
    .showcase1 {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
    }
    .w-80 {
      width: 80%;
      margin: auto;
    }
  
    .row {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  
      .col-6 {
        width: 50%;
        display: flex;
  
        .h3,
        p {
          color: $color-primary;
        }
  
        .col-right {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          .live {
            color: $color-primary;
            text-decoration: underline;
          }
        }
      }
    }
    
  }
  
}


// Talks

.talks-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  .container {
    .accordion {
      border: 2px solid #1a292d;
      margin-bottom: 3rem;
      border-radius: 0.4rem;
      border-bottom: 8px solid;
      box-shadow: 0.5rem 2px 0.5rem rgba(151, 151, 151, 0.1);

      .accordion-item {
        background-color: $color-white;
        // border-radius: .4rem;
        // margin-bottom: 3rem;
        padding: 1rem;
        // border: 2px solid #1a292d;

        &:target .accordion-link .fa-angle-right {
          display: block;
        }

        &:target .accordion-link .fa-angle-down {
          display: block;
        }

        .accordion-link,
        .close {
          font-size: 20px;
          color: #000000;
          text-decoration: none;
          background-color: #ffffff;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0;
          border: none;
          font-weight: 700;

          & i {
            color: $color-primary;
            padding: 0.5rem;
            font-size: 30px;
          }

          & .fa-angle-down {
            display: block;
          }
        }

        .answer {
          max-height: 0;
          overflow: hidden;
          position: relative;
          background-color: $color-primary;
          transition: max-height 650ms;

          &::before {
            content: "";
            position: absolute;
            width: 0.6rem;
            height: 90%;
            background-color: #ccc;
            top: 5%;
            left: 0;
            transform: translate(-50%);
          }

          & p {
            color: $color-white;
            font-size: 16px;
            padding: 0.1rem 1.5rem;
          }
        }

        .open {
          max-height: 20rem;
        }
      }
    }
  }
}

// Phone media query
@media (max-width: 760px) {
  .container-wrapper {

    .mobile-menu {
      font-size: 25px;
      margin: 10px;
      display: flex;
      justify-content: flex-end;

      .mobile-icon {
        background-color: $color-primary;
        padding: 10px;
        color: #fff;
        border-radius: 20%;
        position: fixed;
        display: block;
        z-index: 20;

      }
    }

    .menu-open-bg{
      background-color: rgba(0,0,0,0.5);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 47;
    }

    #main {
      display: block;
      max-width: 100% !important;
      margin: 0 auto !important;
      height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
      height: calc(var(--vh, 1vh) * 100);

      .showcase-wrapper, .talks-wrapper{
        margin-top: 54px;
      }

      .l-grid-left {
        max-width: 100%;
        height: 70%;
        margin: 0 auto;

        &.bg-color {
          height: auto;
        }

        & img {
          margin: 0 auto;
          display: block;
        }
        .u-margin-top-medium {
          margin-top: 2rem !important;
        }

        .u-margin-top-big {
          margin-top: 4rem !important;
        }

        .u-margin-top-huge {
          margin-top: 2rem !important;
        }
      }
      .l-grid-right {
        // margin-top: 1rem !important;

        &.profile-image {
          height: 100%;
          background-image: url(../../images/author.png);
          background-position: top;
          background-repeat: no-repeat;
          background-size: contain !important;
        }
      }

      .grid {
        position: absolute;
        top: -1%;
        display: grid;
        grid-template-columns: 1fr !important;
        max-width: 100% !important;
        grid-template-rows: auto 300px !important;
        z-index: -1;
      }

      .row .col-6 {
        display: contents;

        div {
          margin: 0 auto;
          align-items: center;
          justify-content: center;

          .showcase_description,
          .h3 {
            text-align: center;
          }
        }
      }

      .sm-right-grid {
        margin-top: -100px !important;
      }
    }
  }

  .container {
    margin-top: 35px;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    scrollbar-width: thin;
    scrollbar-color: $color-primary rgb(105, 105, 105);
  }
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(105, 105, 105);
  }
  *::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 20px;
    border: 2px solid rgb(105, 105, 105);
  }
}

#side-nav {
  scrollbar-width: thin;
  scrollbar-color: rgb(105, 105, 105);
  overflow-y: scroll;
  
  // overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border-radius: 20px;
    border: 2px solid rgb(105, 105, 105);
  }
}

.a-link {
  color: $color-primary;
  text-decoration: underline;
}

.technologies {
  display: flex;
  margin-top: 20px;
  width: 80%;
  justify-content: center;
}

.technologies-list {
  color: $color-white;
  font-size: $xx-small-font-size;
  background-color: $color-primary-light;
  border-radius: 10px;
  padding: 5px;
  margin-right: 12px;
}
